
.icon-phone-outline:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-scissors:before { content: '\e803'; } /* '' */
.icon-hourglass:before { content: '\e804'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
